<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="login-box" novalidate>
    <h1 class="title">{{ "button.login" | translate }}</h1>

    <!-- ───── E-MAIL ───── -->
    <div class="field-block">
      <div class="input-group" [class.invalid]="email.invalid && email.touched">
        <img class="icon" src="assets/img/mail.png" aria-hidden="true" />
        <input type="email" [placeholder]="'placeholder.email' | translate" formControlName="email" />
      </div>

      <p class="error" *ngIf="email.errors?.['email'] && email.touched">
        <img src="assets/img/warning.png" aria-hidden="true" />
        {{ "error.emailInvalid" | translate }}
      </p>
    </div>

    <!-- ───── PASSWORT ───── -->
    <div class="field-block">
      <div
        class="input-group"
        [class.invalid]="password.invalid && (password.touched || submitted)"
      >
        <img class="icon" src="assets/img/password.png" aria-hidden="true" />
        <input
          [type]="show_password ? 'text' : 'password'"
          [placeholder]="'placeholder.password' | translate"
          formControlName="password"
        />

        <button
          type="button"
          class="eye"
          (click)="toggle_show_password()"
          aria-label="Passwort anzeigen"
        >
          <img
            [src]="
              show_password
                ? 'assets/img/visibility_off.png'
                : 'assets/img/visibility.png'
            "
            aria-hidden="true"
          />
        </button>
      </div>

      <p
        class="error"
        *ngIf="password.errors?.['minlength'] && (password.touched || submitted)"
      >
        <img src="assets/img/warning.png" aria-hidden="true" />
        {{ "error.passwordShort" | translate }}
      </p>
    </div>

    <p class="error" *ngIf="genericError">
      <img src="assets/img/warning.png" aria-hidden="true" />
      {{ genericError | translate }}
    </p>

    <!-- ───── AKTIONEN ───── -->
    <div class="under-button">
      <button type="submit" class="btn-login" [disabled]="form.invalid">
        {{ "button.login" | translate }}
      </button>

      <a class="text-link forgot" routerLink="/auth/forgot">
        {{ "button.forgot" | translate }}
      </a>


      <p class="signup-hint" routerLink="/auth/signup">
        <span class="label-noaccount">{{ 'label.noAccount' | translate }}</span>
      
        <a class="text-link sign-now" routerLink="/auth/signup">
          {{ "button.sign" | translate }}
        </a>
      </p>
    </div>
  </form>
</div>
