<form [formGroup]="emailForm" (ngSubmit)="submit()" class="capture-row">
  <input
    type="email"
    formControlName="email"
    placeholder="E-Mail Adresse"
    [class.invalid]="emailCtrl.invalid && (emailCtrl.touched || emailCtrl.dirty)"
  />

  <!-- Fehlermeldung -->
  <p class="error"
     *ngIf="emailCtrl.invalid && (emailCtrl.touched || emailCtrl.dirty)">
    {{ 'error.emailInvalid' | translate }}
  </p>

  <div class="button-container">
    <button
      type="submit"
      class="btn-login"
      [disabled]="emailForm.invalid"
    >
      {{ 'button.signup' | translate }}
      <img src="assets/img/pfeil-right.png" />
    </button>
  </div>
</form>
