<div>
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="password-box"
      novalidate
    >
      <h1 class="title" [innerHTML]="'heading.resetPassword' | translate"></h1>

      <h2 class="reset-headline header"
    [innerHTML]="'text.header-reset' | translate">
</h2>

<div class="field-block">
    <div
      class="input-group"
      [class.invalid]="password.invalid && (password.touched || submitted)">
      <img class="icon" src="assets/img/password.png" alt="" aria-hidden="true" />
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Enter a password"
        formControlName="password" />

      <button type="button" class="eye" (click)="toggleShowPassword()">
        <img
          [src]="showPassword
                  ? 'assets/img/visibility_off.png'
                  : 'assets/img/visibility.png'"
          alt=""
          aria-hidden="true" />
      </button>
    </div>

    <p class="error"
       *ngIf="password.errors?.['minlength'] && (password.touched || submitted)">
      <img src="assets/img/warning.png" alt="" aria-hidden="true" />
      {{ 'error.passwordShort' | translate }}
    </p>
  </div>

  <!-- ─── PASSWORT WIEDERHOLEN ──── -->
  <div class="field-block">
    <div
      class="input-group"
      [class.invalid]="(repeat.invalid && (repeat.touched || submitted))
                       || form.errors?.['mismatch']">
      <img class="icon" src="assets/img/password.png" alt="" aria-hidden="true" />
      <input
        [type]="showRepeat ? 'text' : 'password'"
        placeholder="Confirm password"
        formControlName="repeat" />

      <button type="button" class="eye" (click)="toggleShowRepeat()">
        <img
          [src]="showRepeat
                  ? 'assets/img/visibility_off.png'
                  : 'assets/img/visibility.png'"
          alt=""
          aria-hidden="true" />
      </button>
    </div>

    <p class="error"
       *ngIf="form.errors?.['mismatch'] && (repeat.touched || submitted)">
      <img src="assets/img/warning.png" alt="" aria-hidden="true" />
      {{ 'error.passwordMismatch' | translate }}
    </p>
  </div>

  
      


     
      <button type="submit" class="btn-login" [disabled]="form.invalid">
        {{ "button.reset-password" | translate }}
      </button>
    </form>
  </div>
  