@use "styles" as *;

.box-inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1920px;
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;

  h2 {
    font: 700 40px/1 "DM Sans", sans-serif;
  }
  h3,
  h4,
  h5,
  h6 {
    font: 600 24px/1 "DM Sans", sans-serif;
  }
  p {
    font: 400 16px/1.4 "DM Sans", sans-serif;
  }
}

.info-header .header-box {
  background-color: #000 !important;
  width: 100%;
  margin-inline: auto;
  padding-inline: 96px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 96px 96px;
  box-sizing: border-box;
  width: 100%;
  margin-inline: auto;
}

.movie-info {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  background: #000;
  color: #fff;
  overflow-y: auto;

  .info-header {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .content,
  .source,
  .license,
  .director,
  .release,
  .meta-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    h2 {
      margin: 0;
      font-weight: 700;
      font-size: 32px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      margin: 0;
    }
  }

  .license,
  ng-container {
    a {
      color: #2e3edf;
      text-decoration: none;
      font-size: 16px;
    }
  }
  .source {
    a {
      color: #2e3edf;
      text-decoration: none;
      font-size: 16px;
    }
  }
}

@media (max-width: 1278px) {
  .box {
    padding: 10px 16px;
  }
}
