<section class="movie-info">
    <app-header class="info-header"></app-header>
  
    <div class="box">






 
          <nav class="main">
            <div class="headline">
              <h2>Impressum</h2>
              <br />
            </div>
            <h4>Angaben gemäß § 5 TMG</h4>
            <h3>Vertreten durch:</h3>
            <p>Selcuk Kocyigit</p>
            <br />

            <h3>Contact</h3>
            <div class="address">
              <p>Hochfelder Str.33</p>
              <p>47226 Duisburg</p>
              <p>Germany</p>
            </div>
            <p>E-mail: info&#64;selcuk-kocyigit.de</p>
            <p>
              <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
            </p>
          </nav>
        </div>
     










    









    <app-footer class="info-header"></app-footer>
  </section>