<section class="hero" *ngIf="hero() as h; else loading">
  <div class="hero-inner">
    <div class="hero-content">
      <h1 class="title">{{ h.title }}</h1>
      <p class="tagline">{{  h.description  }}</p>

      <div class="button-box">
        <button class="btn-login" (click)="playVideo(h)">
          <img src="assets/img/play.png" alt="" /> Play
        </button>
      </div>
    </div>
  </div>
</section>

<ng-template #loading>
  <p class="text-center text-gray-400">Loading …</p>
</ng-template>

<section class="categories" *ngIf="groups() as g">
  <div class="categories-inner">
    <ng-container *ngFor="let cat of catKeys; let i = index">
      <div class="cat-block" *ngIf="$any(groups())[cat]?.length">
        <h2 class="cat-title">{{ ('cat.' + cat) | translate }}</h2>

        <div class="row-wrap">
          <div class="row" #rowEl (scroll)="onRowScroll(i, rowEl)">
            <figure
              class="thumb"
              *ngFor="let v of $any(g)[cat]"
              (click)="playVideo(v)"
            >
              <video
                *ngIf="v.video_file"
                class="thumb-media"
                [src]="v.video_file | safeUrl"
                muted
                playsinline
                preload="metadata"
                width="213"
                height="120"
              ></video>

              <img
                *ngIf="!v.video_file"
                class="thumb-img"
                [src]="v.thumb || 'assets/thumbs/default.jpg'"
                [alt]="v.title"
                width="213"
                height="120"
              />

              <figcaption>{{ v.title }}</figcaption>
            </figure>
          </div>

          <button
            class="scroll-btn prev"
            *ngIf="scrollState[i]?.prev"
            (click)="scroll(rowEl, -1, i)"
          >
            <img src="assets/img/geri.png" alt="Zurück" />
          </button>

          <button
            class="scroll-btn next"
            *ngIf="scrollState[i]?.next"
            (click)="scroll(rowEl, 1, i)"
          >
            <img src="assets/img/vorwärst.png" alt="Weiter" />
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</section>